@import "~bulma";
@import "typography";

.mb-35{
  margin-bottom: 35px !important;
}

.mb-50{
  margin-bottom: 50px !important;
}

.mt-35{
  margin-top: 35px !important;
}

.mt-50{
  margin-top: 50px !important;
}

.align-center{
  align-items: center;
}
textarea, input { outline: none; border: none !important;}