@import "~bulma";
@import "typography";

.mb-35{
  margin-bottom: 35px !important;
}
.align-center{
  align-items: center;
}
.center-content-vertically{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
textarea, input { outline: none; border: none !important;}